{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block page_content %}

	<!-- start: page -->
	<!--
	<div class="row">
		<div class="right-wrapper pull-right">
			<button id="portletReset" type="button"
					class="mb-xs mt-xs mr-xs btn btn-default">
				<i class="fa fa-undo"></i> Reset dashboard
			</button>
		</div>
	</div>
	-->

	<!-- start: page -->
	<div class="row">
		<div class="col-md-4" data-plugin-portlet id="portlet-1">
			<section class="panel panel-primary" id="panel-1" data-portlet-item>
				<header class="panel-heading portlet-handler">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>

					<h2 class="panel-title">Similarity Retrieval App</h2>
				</header>
				<div class="panel-body">
					This application is used to perform patient similarity retrieval. Similar
					patients are shown close to one another on an interactive 2D plot, and
					statistics relating to selected patients are displayed.
					<br>

					<button type="button" style="float:right;"
							class="mb-xs mt-xs mr-xs btn btn-sm btn-default"> Open
					</button>
				</div>
			</section>
		</div>
		<div class="col-md-4" data-plugin-portlet id="portlet-2">
			<section class="panel panel-quartenary" id="panel-4" data-portlet-item>
				<header class="panel-heading portlet-handler">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>

					<h2 class="panel-title">Patient Trace App</h2>

				</header>
				<div class="panel-body">
					This application is used to visualise a patient's condition over time. The
					patient's laboratory results are dimensionally reduced and shown on a 2D
					interactive plot.
					<br>

					<button type="button" style="float:right;"
							class="mb-xs mt-xs mr-xs btn btn-sm btn-default"> Open
					</button>
				</div>
			</section>

		</div>
		<div class="col-md-4" data-plugin-portlet id="portlet-3">

		</div>
	</div>
	<!-- end: page -->

{% endblock %}


{% block scripts %}

	<script src="/assets/javascripts/ui-elements/examples.portlets.min.js"></script>

{% endblock %}